body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}
.pic{
  border-radius: 70%;
  height:250px;
  width: 250px;
  margin: 15% 5% 5% 5%;
}
.pages .page {
    position:relative;
    height:100vh;
}
.page-1{
    width: 1200px;
    border-radius:20px;
    text-align: center;
    margin: auto;
}
.page-2{
    background-image: url('https://user-images.githubusercontent.com/68135400/102639757-d9389600-419c-11eb-80f9-a93c027dbbb5.png');
    background-size : cover;
}
.page-3{
background-image: url('https://user-images.githubusercontent.com/68135400/102681320-e50b7300-4203-11eb-81bb-d22d0c694206.jpg');
background-size : cover;
}
.page-4{
background-image: url('https://user-images.githubusercontent.com/68135400/102639855-f79e9180-419c-11eb-8419-d01b2b97ab7f.jpg');
background-size : cover;
}
.pages .page > h1 {
    position:absolute;top:0;left:0;
}

