body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}
.menu_a{
    text-decoration: none;
    color:white;
}
.menu{
    align-items: center;
    background-color: pink;
    height:45px;
}
.menu ul{
    width : 1000px;
    margin : auto;
}
.menu_list{
    font-size : 15px;
    width : 1000px;
    margin:auto;
    display:flex;
    list-style:none;
    height:45px;
}
.menu_list li{
    text-align: center;
    width:150px;
    padding:12.5px 30px;
}
.pic{
  border-radius: 70%;
  height:250px;
  width: 250px;
  margin: 15% 5% 5% 5%;
}
.pages .page {
    position:relative;
    height:100vh;
}
.box{
   background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px; 
    border-radius:7%;
    text-align: center;
    margin: 20px;
    display: inline-block;
}
.pages{
  width:1000px;
  margin: 30px auto 500px auto;
}
