body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}
#header {
		text-align: center;
		font-size: 2em;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		padding: 2em 0;
		background: #fff;
		margin: 0 auto;
	}

#header .logo {
		position: relative;
		text-align: center;
		border-top: solid 5px #e7eae8;
		top: 0.65em;
	}

#header .logo div {
		background: #fff;
		position: relative;
		display: inline-block;
		padding: 0 1.5em 0 1.5em;
		top: -0.65em;
	}

#header .logo p {
		display: inline;
		color: #C1CAC5;
}
.menu_a{
    text-decoration: none;
    color:white;
}
.menu{
    align-items: center;
    background-color: pink;
    height:45px;
}
.menu ul{
    width : 1000px;
    margin : auto;
}
.menu_list{
    font-size : 15px;
    width : 1000px;
    margin:auto;
    display:flex;
    list-style:none;
    height:45px;
}
.menu_list li{
    text-align: center;
    width:150px;
    padding:12.5px 30px;
}
#banner {
	position: relative;
	background-color:#f7f8ea;
	background-position: top left, top left, center center;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	z-index: 1;
	padding: 11em 0;
}

#banner .content {
	position: relative;
	background-color: rgba(21, 28, 23, 0.85);
	background-position: top left, center center;
	background-size: auto, 100% 250%;
	background-repeat: repeat, no-repeat;
	text-align: center;
	margin: 0;
	padding: 4em 0 3.5em 0;
}

#banner .content h2 {
	color: #fff;
	font-size: 2.75em;
	margin: 0 0 0.5em 0;
}

#banner .content p {
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #575d59;
	font-size: 1.35em;
margin: 0 0 1.25em 0;
			}
.pic{
  border-radius: 70%;
  height:100px;
  width: 100px;
  margin: 5%;
}
.pages{

   text-align: center;
   margin:50px;

}
.box{
   background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px; 
    border-radius:7%;
    text-align: center;
    margin: 20px;
    display: inline-block;
}
.boxx{
    position: absolute;
    display: none;
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255,0.7);
    width:500px;
    height:300px;
 }
.introduce{
    width:500px;
    height:300px;
    text-align: center;
    margin: 15px;
    display:inline-block;
}
.profile {
    position: absolute;
    
 }
.profile:hover + .boxx {
        display: block;
}
.font1{
        font-size:20px;
        margin-top:100px;
        text-align: center;
       }
